@import "./global.css";

.div-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.div-input label {
  margin-bottom: 0.5em;
}

.platforms {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
