@import "./global.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/gameList.css";

.main {
  margin-left: 5em;
  margin-right: 5em;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-search {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 20%;
}
