:root {
  --bg-color: #211f2a;
  --modal-color: #252836;
  --input-color: #2b2f40;
  --btn-color: #6757d6;
  --font: "Barlow", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: var(--font);
  margin: 0;
  height: 100%;
}

/*Contenu d'une page*/
.page-content {
  padding: 0 7.5rem;
}

/*Les boutons en général (2 types de boutons html : les button classique, et les input type button)*/
button,
input[type="button"],
input[type="submit"] {
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #7d6fe9;
}

/*Les inputs textuels en général*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
  background-color: var(--input-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: var(--font);
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
  height: 36px;
  box-sizing: border-box; /*Evite que l'input sorte du parent malgré sa taille*/
}

/*Affichage d'erreur (connexion, inscription, page profil)*/
.error {
  color: rgb(239, 0, 0);
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

a:hover {
  color: #efefef;
}
