:root {
    --bg-color: #211F2A;
    --modal-color: #252836;
    --input-color: #2B2F40;
    --btn-color: #6757D6;
    --font: 'Barlow', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: var(--font);
    margin: 0;
}