:root {
    --bg-color: #211F2A;
    --modal-color: #252836;
    --input-color: #2B2F40;
    
    --font: 'Barlow', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: var(--font);
    margin: 0;
    height: 100%;

}

html, body {
    height: 100%;
}