@import "./global.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/gameList.css";

.homepage-header {
  background: url("../images/homepage-header.png") center/cover;
  padding: 3rem;
  display: block;
}

.notAuthenticatedComponent {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.notAuthenticatedComponent img {
  margin: auto;
}