@import "./global.css";

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #211f2a;
  color: white;
}

.inscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #211f2a;
  border-radius: 10px;
  height: 290px;
  width: 520px;
  padding: 40px;
}

.inscription h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}
