@import "./global.css";
@import "./components/header.css";
@import "./components/footer.css";

.modifyAccountForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

/*Suppression*/
.modifyAccountForm p {
  margin: 0;
}

.div-input {
  display: flex;
  flex-direction: column;
}

.div-input label {
  margin-bottom: 0.5em;
}
